* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#searchContainer {
  background-color: rgba(255,255,255,0.5);
  padding-left: 30px;
}

#weatherContainer {
  padding-right: 30px;
}

#currentWeatherContainer {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  margin-bottom: 20px;
}

#searchContainer > h4 {
  padding-top: 20px;
}

#currentWeatherContainer > h2,
img {
  display: inline;
  padding-right: 10px;
}

#forecastContainer {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  background-color: #2f2f2f;
  color: white;
}

span {
padding: 5px;
margin-left: 5px;
}

form {
  margin-bottom: 20px;
}

.card-body  {
  width: 180px;
}

.searchListBtn {
  text-align: left;
}
